@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    box-sizing: border-box;
}

body{
    background: linear-gradient(89.97deg, #39297b 43.84%, #74523f  94.67%);
    color :#fff;
}
h1{
    text-align: center;
    margin: 100px auto  50px;
    font-weight: 600px;
}
form{
    width: 30%;
    /* max-width: 600px; */
    margin: auto;
    height: 80px;
    background:linear-gradient(89.97deg, #291e55 43.84%, #5d3f2e  94.67%);;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 30px;
}

form input{
    flex:1;
    height: 100%;
    border: 0;
    outline: 0;
    background:transparent ;
    color: #fff;
    font-size: 18px;
    padding: 0 30px;
}
form button{
    width: 30%;
    padding: 0 40px;
    color: #fff;
    height: 100%;
    background: #5d3f2e;
    font-size: 18px;
    outline: 0;
    border: 0;
    border-top-right-radius: 8px ;
    border-bottom-left-radius: 8px ;
    cursor: pointer;
}

::placeholder{
    color: #fff;
    font-size:18px ;
}

#show-more-btn{
    display: none;
    background:#5d3f2e ;
    color: #fff;
    border: 0;
    outline: 0;
    padding: 10px 20px;
    border-radius: 50%;
    margin: 50px auto 10px;
    cursor: pointer;

}

#search-result{
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}

#search-result img{
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 20px;
}

@media (max-width:1230px) {
    form {
        width: 70%;
    }

    form input {
        font-size: 16px;
    }

    form button {
        width: 20%;
        font-size: 16px;
    }
    
}

@media (max-width: 768px) {
    form {
        width: 80%;
    }

    form input {
        font-size: 16px;
    }

    form button {
        width: 50%;
        font-size: 16px;
    }

    #search-result{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width : 450px){
    form {
        width: 60%;
        
    }

    form input {
        width: 60%;
        font-size: 14px;
    }

    form button {
        width: 50%;
        font-size: 14px;
    }
    #search-result{
        grid-template-columns: 1fr;
    }
}